// style variables

$text-color: #ffffff;
$input-color: #2f77a4;
$light-text-color: #b3bcc2;
$message-text-color: #6a7076;;
$footer-background: #3998d3;
$button-background: #fa876d;
$author-message-background: #fcf7c5;
$message-border: 2px solid #eaeaea;
$message-border-radius: 6px;
$text-font-size: 20px;
$chat-width: 640px;