@import "../../../assets/style/variable";

.title {
    background: $footer-background;
    color: $text-color;
    .welcome {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: $chat-width;
        margin: auto;
        padding: 0 8px;
    }
    button {
        background-color: transparent;
        color: $text-color;
        margin-left: 8px;
        border: none;
        font-weight: 600;
        cursor: pointer;
    }
}